{% extends "base.html" %}
{% block contents %}

{% load static %}

<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 10px;">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <img src="{% static 'images/dummy.png' %}" style="margin: 10px 0 0 20px; height: 50px; border-radius: 50%;">
        </div>
        <div class="col-sm-3 col-xs-5">
          <p class="text-center">@{{ user.user_name }}</p>
        </div>
        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-4 col-xs-4">
          <p class="text-right text-muted" style="font-size: 12px;">投稿日：{{ tintin.created_at }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-8 col-xs-12" style="padding: 5px;">

      <div class="tinps-title" style="margin: 0 5px 10px 5px;">
        <h1>{{ tintin.title }}</h1>
      </div>

      <div class=tinps-cat style="margin: 0 5px 10px 5px;">
        <span class="badge badge-info">
          Category1
        </span>
        <span class="badge badge-info">
          Category2
        </span>
        <span class="badge badge-info">
          Category3
        </span>
      </div>
      <hr>

      <div class="tinps-body" style="margin: 0 5px 50px 5px;">
        {{ tintin.tinps_body }}
      </div>
      <a href="/tinps/show">ばっく</a>
    </div>

    <div class="col-sm-2 col-xs-12"></div>
  </div>
</div>

{% endblock contents %}
