{% extends "base.html" %}
{% block contents %}

{% load static %}

<div class="descriptionBlockTop">
  <div class="descriptionText text-right ">
    <p style="font-size: 45px">dummydummy</p>
    <p style="font-size: 25px">dummydummy</p>
  </div>
  <div class="start-button">
    <a href="{% url 'register' %}"><button type="button" class="btn btn-light">py/tinpsをはじめる</button></a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="descriptionBlockLeft">
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4" style="background-color: #84ffff;">
            <p>dummydummy<br>
              dummydummy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="descriptionBlockRight">
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4" style="background-color: #84ffff;">
            <p>dummydummy<br>
              dummydummy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="newSlider">
    <p>dummydummy<br>
      dummydummy</p>
</div>

<div class="row">
  <div class="col-sm-6 col-xs-12" style="background-color: #ffffb7;">
    <div class="graghText">
      <h1>開発用リンクメモ</h1>
      <a href="{% url 'post' %}">post</a>
      <a href="{% url 'edit' %}">edit</a>
      <a href="{% url 'mypage' %}">mypage</a>
      <a href="{% url 'register' %}">register</a>
      <a href="{% url 'show' %}">show</a>
      <a href="{% url 'detail' %}">detail</a>
      <a href="{% url 'about' %}">about</a>
      </div>
  </div>
  <div class="col-sm-6 col-xs-12" style="background-color: #84ffff;">
    <div class="gragh">
      <h3> 参考までに</h3>
      <h6>チンプス一覧</h6>
      {% for tinps in tinps_list  %}
          <p>{{ tinps.title }}</p>
          <p>{% for ctgr in tinps.category.all %}{{ ctgr }} , {% endfor %}</p>
      {% endfor %}

      <h6>ユーザ一覧</h6>
          {% for user in user_list  %}
          <p>{{ user.user_name }}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock contents %}
