{% load static %}

<!doctype html>
<html lang="ja-jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- load font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Optional JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

      {% block extra_head %}
    {% endblock %}

      <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    <nav id="main-navbar" class="navbar navbar-light sticky-top" style="background-color: #ffeaff;">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/logo_header.png' %} " style="height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"></a>
            </li>
              {% if user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post' %}">tinpsを投稿</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mypage' %}">マイページ</a>
            </li>
              {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">ユーザ登録</a>
            </li>
              {% endif %}
          </ul>
        </div>
    </nav>

      {% block contents %}
      {% endblock contents %}

      {% block extra_body %}
      {% endblock %}

      <footer class="footer" style="background-color: #ffeaff;">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <a href="#"><img class="d-flex align-self-center" src="{% static 'images/logo_footer.png' %} " style="height: 80px;"></a>
            </div>
            <div class="col-4">
              <div class="copyright">
                <span class="text-muted" style="font-size: 14px;">© 2018- py/</span>
              </div>
            </div>
            <div class="col-4">
              <div class="text-right align-items-cente">
                <p><a href="{% url 'about' %}" class="text-muted"><span style="font-size: 14px;">About</span></a></p>
                <!-- <p><a href="#" class="text-muted"><span style="font-size: 14px;">お問い合わせ</span></a></p> -->

                <p><a href="#" class="text-muted" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span style="font-size: 14px;">お問い合わせ</span></a></p>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">お問い合わせ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="contact">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label pull-left">件名を入力してください</label>
                            <input id="contact-title" name="title" type="text" class="form-control" placeholder="件名" required>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1" class="pull-left">ご連絡先を入力してください</label>
                            <input id="contact-mail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="email" required>
                            <small id="emailHelp" class="form-text text-muted">お問い合わせに対する返信以外の目的では一切使用しません。</small>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label pull-left">お問い合わせ内容を入力してください</label>
                            <textarea id="contact-body" class="form-control" placeholder="お問い合わせ内容"　required></textarea>
                          </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">送信する</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </footer>

    <script>
      $('.fa-columns').click(function() {
        $('#main-navbar').hide();
      });
      $('.fa-arrows-alt').click(function() {
        $('.navbar').toggle();
      });

      var $slider_container = $('.slider-container'),
          $slider = $('.slider');

      $slider.slick({
        appendArrows: $slider_container,
        // FontAwesomeのクラスを追加
        prevArrow: '<div class="slider-arrow slider-prev fa fa-angle-left"></div>',
        nextArrow: '<div class="slider-arrow slider-next fa fa-angle-right"></div>',
      });

      $('form').submit(function() {

        var url = 'https://slack.com/api/chat.postMessage',
            data = {
                token: 'xoxp-414368684705-414209150944-440338646112-8455f7bb849561f979ea400c136d4cdb',
                channel: '#23_shinjuku_manage',
                username: 'ぱいちんユーザからの問い合わせ',
                text: 'ぱいちんユーザから問い合わせがありました' + '\n'
                  + '==============================================' + '\n'
                  + '件名: ' + $('#contact-title').val() + '\n'
                  + '連絡先: ' + $('#contact-mail').val() + '\n'
                  + '内容: ' + $('#contact-body').val() + '\n'
                  + '=============================================='
            };

        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            });
        alert('お問い合わせありがとうございます。3日経っても返答がない場合は、お手数ですがもう一度お問い合わせください。');
      });
  </script>

  </body>
</html>
